<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- The unique ID of the application that has been provisioned in the Lync deployment-->
    <add key="ApplicationID" value="urn:application:ucmacalltransfer" />

    <!-- Airport -->
    <add key="AirportRoomMusic" value="WMA\\airport.wma" />
    <!-- Bus -->
    <add key="BusRoomMusic" value="WMA\\bus.wma" />
    <!-- Bus -->
    <add key="OutdoorRoomMusic" value="WMA\\outdoor.wma" />
  </appSettings>
</configuration>